.form-login {
  background: #fff;
  margin: 40px auto;
  width: 600px;
  border-radius: 15px;
  padding: 26px 0;
  box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.14);
  position: relative;
  right: 34px;
}
.form-login h3 {
  color: #2C3281;
  font-size: 24px;
  padding: 32px 46px 0px;
}
.form-login p {
  color: #20194a99 !important;
  padding: 10px 46px 0px!important;
}
.form-login span a {
  color: #756F86;
  font-size: 16px;
  border-bottom: 1px solid;
}
.form-login span a:hover {
  color: #14A38B;
}
.form-login .form-login-senha {
  width: 510px;
  margin: 20px auto;
  padding-bottom: 20px;
}
.form-login .form-login-senha label {
  display: block;
  padding: 20px 0px 5px;
  color: #756F86;
  font-size: 16px;
  font-weight: 500;
}
.form-login .form-login-senha label a {
  color: #756F86;
}
.form-login .form-login-senha input {
  width: 95%;
  margin-bottom: 10px;
  padding: 15px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.form-login .form-login-senha input[type="checkbox"] {
  width: 3%;
}
.form-login .form-login-senha button {
  width: 100%;
  margin: 20px auto;
}
.form-login .form-login-senha .ciente {
  padding: 20px 0px;
}
