//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color
.seja-fornecedor {
    h3 {
      color: @azul-title;
      font-size: 24px;
      padding: 32px 46px 0px;
    }
    p {
      color: #20194a99;
      font-size: 16px;
      padding: 10px 46px 0px;
    }
    span {
      padding: 0px 46px;
      a {
        color: @verde;
        font-size: 16px;
      }
    }
    .conteudo-seja-fornecedor {
      width: 1245px;
      padding: 30px 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      .imagem-seja-fornecedor {
        width: 573px;
        height: 676px;
        padding-left: 42px;
      }
      .form-seja-fornecedor {
        background: #fff;
        width: 600px;
        height: 603px;
        border-radius: 15px;
        padding: 26px 0;
        -webkit-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
        -moz-box-shadow:    9px 0px 10px rgba(112, 112, 112, 0.137);
        box-shadow:         9px 0px 10px rgba(112, 112, 112, 0.137);
        position: relative;
        right: 49px;
        .form-criar-conta {
          width: 510px;
          height:520px;
          margin: 20px auto;
          label {
            display: block;
            padding: 20px 0px 5px;
            color: @color-label;
            font-size: 16px;
            font-weight: 500;
            a {
              color: @color-label;
            }
          }
          input {
            width: 95%;
            margin-bottom: 10px;
            padding: 10px 10px;
            border: 1px solid #DBE2EA;
            border-radius: 5px;
          }
          input[type="checkbox"]{
            width: 3%;
          }
          textarea { 
            width: 95%;
            height: 100px;
            margin-bottom: 10px;
            padding: 20px 10px;
            border: 1px solid #DBE2EA;
            border-radius: 5px;
          }
          button {
            width: 100%;
            margin-top: 30px;
          }
  
          .ciente {
  
            padding: 20px 0px;
  
          }
  
        }
  
      }
    }
  }