.seja-fornecedor h3 {
  color: #2C3281;
  font-size: 24px;
  padding: 32px 46px 0px;
}
.seja-fornecedor p {
  color: #20194a99;
  font-size: 16px;
  padding: 10px 46px 0px;
}
.seja-fornecedor span {
  padding: 0px 46px;
}
.seja-fornecedor span a {
  color: #14A38B;
  font-size: 16px;
}
.seja-fornecedor .conteudo-seja-fornecedor {
  width: 1245px;
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}
.seja-fornecedor .conteudo-seja-fornecedor .imagem-seja-fornecedor {
  width: 573px;
  height: 676px;
  padding-left: 42px;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor {
  background: #fff;
  width: 600px;
  height: 603px;
  border-radius: 15px;
  padding: 26px 0;
  -webkit-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  -moz-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  position: relative;
  right: 49px;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta {
  width: 510px;
  height: 520px;
  margin: 20px auto;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta label {
  display: block;
  padding: 20px 0px 5px;
  color: #756F86;
  font-size: 16px;
  font-weight: 500;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta label a {
  color: #756F86;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta input {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta input[type="checkbox"] {
  width: 3%;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta textarea {
  width: 95%;
  height: 100px;
  margin-bottom: 10px;
  padding: 20px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta button {
  width: 100%;
  margin-top: 30px;
}
.seja-fornecedor .conteudo-seja-fornecedor .form-seja-fornecedor .form-criar-conta .ciente {
  padding: 20px 0px;
}
