//Color

@color-text: #2C2738;
@rosa-principal: #F15D5B;
@verde: #14A38B;

//fim color

nav {
   display: inline-block;
   padding: 10px;
   ul {
        display: flex;
    li {
        list-style: none;
        padding: 10px 20px;
        a {
            color: @color-text;
            font-size: 16px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            text-decoration: none;
            transition: all ease 0.2s;
            &:hover{
                color: @verde;
            }
        }       
    }
   }
}

@media screen and (max-width: 480px) {

    // nav {
    //     display: none;
    // }

}