nav {
  display: inline-block;
  padding: 10px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 10px 20px;
}
nav ul li a {
  color: #2C2738;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: all ease 0.2s;
}
nav ul li a:hover {
  color: #14A38B;
}
@media screen and (max-width: 480px) {
}
