//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.orderlist{
    .headerrow{
        background: none !important;
        border-radius: 0px !important;
        border-bottom: 1px solid @azul-principal;
    }
    .noorder{
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
    }
    .orderrow{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 2.6fr 0.3fr;
        background: @branco;
        border-radius: 10px;
        padding: 10px 20px;
        grid-gap: 20px;
        margin-bottom: 10px;
        align-items: center;
        div{
            font-size: 14px;
            color: @color-label;
            a{
                color: @azul-principal;
                &:hover{
                    color: @verde;
                }
            }
        }
    }
}
