.orderlist .headerrow {
  background: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #394089;
}
.orderlist .noorder {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
.orderlist .orderrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2.6fr 0.3fr;
  background: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  grid-gap: 20px;
  margin-bottom: 10px;
  align-items: center;
}
.orderlist .orderrow div {
  font-size: 14px;
  color: #756F86;
}
.orderlist .orderrow div a {
  color: #394089;
}
.orderlist .orderrow div a:hover {
  color: #14A38B;
}
