.pedidos {
  display: flex;
  margin-top: 30px;
}
.pedidos .left {
  margin-right: 30px;
}
.pedidos .left h1 {
  color: #2C3281;
  font-size: 36px;
  line-height: 46px;
}
.pedidos .left svg {
  font-size: 32px;
  margin-bottom: 20px;
  color: #14A38B;
  position: relative;
}
.pedidos .left span {
  display: block;
  background: #39408926;
  color: #2C3281;
  font-size: 24px;
  width: 350px;
  text-align: center;
  padding: 10px 0;
  font-weight: 500;
  margin: 20px 0;
}
.pedidos .left a {
  color: #14A38B;
}
