//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.pedidos {
    display: flex;

    margin-top: 30px;

    .left {

        margin-right: 30px;

        h1 {
            color: @azul-title;
            font-size: 36px;
            line-height: 46px;
        }

        svg {

            font-size: 32px;
            margin-bottom: 20px;
            color: #14A38B;
            position: relative;
            
        }

        span {
            display: block;
            background: #39408926;
            color: @azul-title;
            font-size: 24px;
            width: 350px;
            text-align: center;
            padding: 10px 0;
            font-weight: 500;
            margin: 20px 0;

        }

        a {
            color: @verde;
        }

    }
    
    .right {
    
    }
}

