.title {
  margin-top: 20px;
}
.title h1 {
  color: #2C3281;
}
.meus-dados {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px auto;
}
.meus-dados .left {
  color: #394089a6;
  font-weight: 600;
  font-size: 18px;
}
.meus-dados .left ul .active {
  color: #394089;
  opacity: 1;
}
.meus-dados .left ul li {
  padding: 10px 0;
  opacity: 1;
  transition: all ease 0.2s;
}
.meus-dados .left ul li a {
  color: #394089;
  transition: all ease 0.2s;
}
.meus-dados .left ul li i {
  padding-right: 10px;
}
.meus-dados .left ul li i svg {
  width: 25px;
}
.meus-dados .left ul li:hover a {
  color: #14A38B;
}
.meus-dados .right .top-dados {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  color: #394089;
  font-size: 18px;
  font-weight: 500;
}
.meus-dados .right .top-dados .space {
  border-bottom: 1px solid #2C3281;
  position: relative;
  bottom: 18px;
  right: 8px;
  width: 399px;
}
.meus-dados .right .top-dados button {
  background: #14A38B;
  color: #fff;
  width: 174px;
  height: 34px;
  cursor: pointer;
  border: none;
}
.meus-dados form .dados-interna {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}
.meus-dados form .dados-interna label {
  width: 100%;
  padding-bottom: 5px;
  display: block;
}
.meus-dados form .dados-interna label span {
  color: #F15D5B;
}
.meus-dados form .dados-interna input {
  width: 362px;
  height: 20px;
  border: 1px solid #7C9CBF;
  border-radius: 5px;
  padding: 10px;
}
.meus-dados form .dados-interna .active {
  background: #2c32811a;
}
