//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.title {
    margin-top: 20px;

    h1 {
        color: @azul-title;
    }
}


.meus-dados {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // grid-template-columns: 0.6fr 0.5fr;
    margin: 20px auto;

    .left {

        color:#394089a6;
        font-weight: 600;
        font-size: 18px;

        ul {
            .active {
                color:@azul-principal;
                opacity: 1;
            }
            li {
                padding: 10px 0;
                opacity: 1;
                transition: all ease 0.2s;
                a{
                    color: @azul-principal;
                    transition: all ease 0.2s;
                }
                i {
                    padding-right: 10px;
                    svg{
                        width: 25px;
                    }
                }
                &:hover{
                    a{
                        color: @verde;
                    }
                }
            }
        }
    }

    .right {

        .top-dados {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            color:@azul-principal;
            font-size: 18px;
            font-weight: 500;
    
            .space {
                border-bottom: 1px solid #2C3281;
                position: relative;
                bottom: 18px;
                right: 8px;
                width: 399px;
            }

            button {
                background: @verde;
                color: @branco;
                width: 174px;
                height: 34px;
                cursor: pointer;
                border: none
            }
        }
    }

    form {
  
        .dados-interna {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 20px 0;

            label {
               
               width: 100%;
               padding-bottom: 5px;
               display: block;
               span{
                   color: @rosa-principal;
               }

            }

            input {

                width: 362px;
                height: 20px;
                border: 1px solid #7C9CBF;
                border-radius: 5px;
                padding: 10px;

                
            }

            .active {
                background: @fundo-azul-claro;
            }
        }
    }
}

