//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.etapas {
    .etapas-linha {
        margin: 40px auto;
        width: 70%;
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            li {
                text-align: center;
                padding: 10px 26px 0px 68px;
                font-weight: 500;
                font-size: 18px;
                color: @azul-principal;
                position: relative;
                z-index: 10;
                svg{
                    display: block;
                    text-align: center;
                    margin: 0px auto 10px auto;
                    font-size: 30px;   
                    background: #f4f5f9;
                    border-radius: 100px;             
                }
                &.concluido{
                    color: @verde;
                }
            }
            &:after{
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background: @azul-principal;
                position: absolute;
                top: 25px;
                z-index: 5;
            }               
        }
    }
    .details-pedido {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left {
            width: 30%;
            .box {
                background: @branco;
                border-radius: 5px;
                margin: 0 auto 20px auto;
                padding: 20px;
                width: 100%;
                .title {
                    border-bottom: 1px solid #756F86;
                    padding-bottom: 10px;
                    color: @azul-principal;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 20px;
                    margin-top: 0px;
                    i{
                        font-size: 14px;
                    }
                }
                ul {
                    li {
                        color: @azul-principal;
                        font-size: 16px;
                        font-weight: 500;
                        padding: 5px 0;
                        span {
                           p {
                            font-size: 14px!important;
                            padding: 0!important;
                            line-height: 16px!important;
                           }
                        }
                    }
                }
            }
        }
        .right {
            width: 65%;
            .btn{
                margin-top: 20px;
            }
            .description {
                width: 100%;
                background: @branco;
                border-radius: 5px;
                padding: 20px 20px 20px 20px;
                h3{
                    border-bottom: 1px solid #756F86;
                    padding-bottom: 10px;
                    color: @azul-principal;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 30px;
                    margin-top: 0px;
                    i{
                        font-size: 14px;
                    }
                }
                ul {
                    &:after{
                        margin-top: 10px;
                        content: '';
                        width: 100%;
                        margin-bottom: 20px;
                        height: 5px;
                        display: block;
                        border-radius: 5px;
                        background: rgb(57,64,137);
                        background: linear-gradient(90deg, rgba(57,64,137,1) 0%, rgba(57,64,137,1) 33%, rgba(241,93,91,1) 33%, rgba(243,112,111,1) 66%, rgba(250,198,16,1) 66%, rgba(250,198,16,1) 100%);
                    }
                    li {
                        &:last-child {
                            border-bottom: none;
                        }
                    }
                    .row {
                        display: grid;
                        grid-template-columns: 2fr 1.5fr 1fr 1fr;
                        margin: 0px auto 20px auto;
                        border-bottom: 1px solid @border-input;
                        padding-bottom: 10px;
                        color: @azul-principal;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                span.onesupplier{
                    font-size: 22px;
                    color: @azul-principal;
                    display: block;
                    font-weight: bold;
                    margin-bottom: 10px;
                    &:before{
                        content: 'Apenas um fornecedor'
                    }
                }
                span.lessvalue{
                    font-size: 22px;
                    color: @azul-principal;
                    display: block;
                    font-weight: bold;
                    margin-bottom: 10px;
                    &:before{
                        content: 'Menor valor'
                    }
                }
                p.pdflink{
                    a{
                        font-size: 14px;
                        text-decoration: underline;
                        color: @color-label;
                        &:hover{
                            color: @verde;
                        }
                    }
                }
                p.finalprice{
                    font-size: 24px;
                    color: @verde;
                    float: right;
                    font-weight: bold;
                    text-align: right;
                    span{
                        font-size: 14px;
                        color: @color-label;
                        display: block;
                        text-align: right;
                    }
                }
            }
        }
    }
}


