.etapas .etapas-linha {
  margin: 40px auto;
  width: 70%;
}
.etapas .etapas-linha ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.etapas .etapas-linha ul li {
  text-align: center;
  padding: 10px 26px 0px 68px;
  font-weight: 500;
  font-size: 18px;
  color: #394089;
  position: relative;
  z-index: 10;
}
.etapas .etapas-linha ul li svg {
  display: block;
  text-align: center;
  margin: 0px auto 10px auto;
  font-size: 30px;
  background: #f4f5f9;
  border-radius: 100px;
}
.etapas .etapas-linha ul li.concluido {
  color: #14A38B;
}
.etapas .etapas-linha ul:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #394089;
  position: absolute;
  top: 25px;
  z-index: 5;
}
.etapas .details-pedido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.etapas .details-pedido .left {
  width: 30%;
}
.etapas .details-pedido .left .box {
  background: #fff;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  padding: 20px;
  width: 100%;
}
.etapas .details-pedido .left .box .title {
  border-bottom: 1px solid #756F86;
  padding-bottom: 10px;
  color: #394089;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0px;
}
.etapas .details-pedido .left .box .title i {
  font-size: 14px;
}
.etapas .details-pedido .left .box ul li {
  color: #394089;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
}
.etapas .details-pedido .left .box ul li span p {
  font-size: 14px!important;
  padding: 0!important;
  line-height: 16px!important;
}
.etapas .details-pedido .right {
  width: 65%;
}
.etapas .details-pedido .right .btn {
  margin-top: 20px;
}
.etapas .details-pedido .right .description {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}
.etapas .details-pedido .right .description h3 {
  border-bottom: 1px solid #756F86;
  padding-bottom: 10px;
  color: #394089;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0px;
}
.etapas .details-pedido .right .description h3 i {
  font-size: 14px;
}
.etapas .details-pedido .right .description ul:after {
  margin-top: 10px;
  content: '';
  width: 100%;
  margin-bottom: 20px;
  height: 5px;
  display: block;
  border-radius: 5px;
  background: #394089;
  background: linear-gradient(90deg, #394089 0%, #394089 33%, #f15d5b 33%, #f3706f 66%, #fac610 66%, #fac610 100%);
}
.etapas .details-pedido .right .description ul li:last-child {
  border-bottom: none;
}
.etapas .details-pedido .right .description ul .row {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1fr 1fr;
  margin: 0px auto 20px auto;
  border-bottom: 1px solid #DBE2EA;
  padding-bottom: 10px;
  color: #394089;
  font-size: 16px;
  font-weight: 500;
}
.etapas .details-pedido .right .description span.onesupplier {
  font-size: 22px;
  color: #394089;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.etapas .details-pedido .right .description span.onesupplier:before {
  content: 'Apenas um fornecedor';
}
.etapas .details-pedido .right .description span.lessvalue {
  font-size: 22px;
  color: #394089;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.etapas .details-pedido .right .description span.lessvalue:before {
  content: 'Menor valor';
}
.etapas .details-pedido .right .description p.pdflink a {
  font-size: 14px;
  text-decoration: underline;
  color: #756F86;
}
.etapas .details-pedido .right .description p.pdflink a:hover {
  color: #14A38B;
}
.etapas .details-pedido .right .description p.finalprice {
  font-size: 24px;
  color: #14A38B;
  float: right;
  font-weight: bold;
  text-align: right;
}
.etapas .details-pedido .right .description p.finalprice span {
  font-size: 14px;
  color: #756F86;
  display: block;
  text-align: right;
}
