
.menu-footer {

   float: right;

    ul {

        display: flex;

        li {

            list-style: none;
            
        }
    }

         a {
            color: #fff;
            text-decoration: none;
            display: block;
            padding: 10px;
            &:hover{
                opacity: 0.5;
            }
        }
    
}