.menu-footer {
  float: right;
}
.menu-footer ul {
  display: flex;
}
.menu-footer ul li {
  list-style: none;
}
.menu-footer a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.menu-footer a:hover {
  opacity: 0.5;
}
