.criar-conta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.criar-conta .left {
  width: 45%;
}
.criar-conta .left .barra-title img {
  width: 100%;
}
.criar-conta .right {
  width: 50%;
}
.criar-conta .right .form-createaccount {
  left: 0px !important;
  padding: 50px 40px 40px 40px;
}
.criar-conta .destaque span {
  border-bottom: 1px solid;
}
.criar-conta .destaque span a {
  font-weight: 600;
}
.criar-conta .aviso {
  font-size: 12px;
  line-height: 20px;
}
