//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.criar-conta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .left {
      width: 45%;
      .barra-title{
        img{
          width: 100%;
        }
      }
    }
    .right{
      width: 50%;
      .form-createaccount{
        left: 0px !important;
        padding: 50px 40px 40px 40px;
      }
    }

    .destaque {
      span {
        border-bottom: 1px solid;
        a {
          font-weight: 600;
        }
      }
    }

    .aviso {
      font-size: 12px;
    line-height: 20px;
    }
}

