.slider-home {
  width: 100%;
  height: 600px;
  background: #f4f5f9;
  margin-bottom: 50px;
  overflow: hidden;
}
.slider-home .conteudo-slider {
  height: auto;
  margin: 0 auto;
  display: flex;
  width: 1245px;
}
.slider-home .conteudo-slider h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 56px;
  color: #394089;
}
.slider-home .conteudo-slider p {
  color: #2c328178;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
  margin-top: 25px;
}
.slider-home .conteudo-slider .left {
  position: relative;
  top: 100px;
}
.slider-home .conteudo-slider .left .btns-slider {
  display: flex;
  margin-top: 36px;
}
.slider-home .conteudo-slider .left .btn-orcar {
  padding: 0px 20px 0px 0px;
}
.slider-home .conteudo-slider .left .btn-orcar input {
  border: none;
  background: #394089;
  color: #fff;
  padding: 10px 40px;
}
.slider-home .conteudo-slider .left li.modalopen {
  cursor: pointer;
  transition: all ease 0.2s;
}
.slider-home .conteudo-slider .left li.modalopen:hover {
  color: #14A38B;
}
.slider-home .conteudo-slider .left li {
  text-decoration: none;
  color: #2C3281;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  display: block;
  margin-top: 4px;
}
.slider-home .conteudo-slider .right {
  width: 50%;
}
.slider-home .conteudo-slider .right img {
  position: relative;
  bottom: 10px;
}
.slider-home .conteudo-slider .right .banner-mobile {
  display: none;
}
.carousel-home {
  width: 90%;
  margin: 50px auto 80px auto;
}
.carousel-home h2 {
  margin-top: 100px;
  font-size: 40px;
  line-height: 45px;
  width: 100%;
  font-weight: 400;
  color: #2C3281;
  text-align: center;
}
.materiais {
  background: #394089;
  background-size: cover;
  width: 89%;
  padding: 120px 5vw;
  margin-bottom: 80px;
  position: relative;
}
.materiais .textos {
  width: 50%;
  position: relative;
  float: left;
}
.materiais .textos h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 45px;
  color: #fff;
}
.materiais .textos p {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  padding-top: 40px;
  color: #fff;
}
.materiais img {
  float: right;
  width: 50%;
  height: auto;
  margin: -150px 0px -190px 0px;
}
.como-funciona {
  margin: 0 auto;
  text-align: center;
}
.como-funciona h2 {
  font-size: 40px;
  color: #2C2738;
  font-weight: 400;
}
.como-funciona p {
  color: #FF7171;
}
.block-functions {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 100px;
  margin-bottom: 30px;
}
.block-functions .box-function {
  width: 20%;
}
.block-functions .box-function h4 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 700;
  color: #2C2738;
}
.block-functions .box-function p {
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  color: #2C2738;
}
.block-functions .box-function .icon {
  position: relative;
}
.block-functions .box-function .icon img {
  z-index: 2;
  position: relative;
  left: -5px;
}
.block-functions .box-function .icon:after {
  content: '';
  display: block;
  width: 187px;
  height: 24px;
  background: #39408914;
  position: absolute;
  left: 20px;
  bottom: 14px;
  z-index: 0;
}
.Modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  display: block;
  opacity: 1;
}
.Modal svg {
  cursor: pointer;
  margin: -40px 0px 5px 0px;
  float: right;
  font-size: 32px;
  transition: all ease 0.2s;
}
.Modal svg:hover {
  color: var(--pink);
}
.Modal video {
  width: 100%;
}
.ReactModal__Overlay {
  z-index: 10000;
}
.video {
  position: relative;
}
.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  opacity: 0.7;
}
