//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

//Font

@font: 'IBM Plex Sans', sans-serif;

.slider-home {
  width: 100%;
  height: 600px;
  background: #f4f5f9;
  margin-bottom: 50px;
  overflow: hidden;

  .conteudo-slider {
    height: auto;
    margin: 0 auto;
    display: flex;
    width: 1245px;

    h1 {
      font-family: @font;
      font-size: 56px;
      color: @azul-principal;
    }

    p {
      color: #2c328178;
      font-size: 38px;
      line-height: 44px;
      font-weight: 600;
      margin-top: 25px;
    }

    .left {
      position: relative;
       top: 100px;

       .btns-slider {
         display: flex;
         margin-top: 36px;
       }

       .btn-orcar {
       padding: 0px 20px 0px 0px;
        input {
          border: none;
          background: @azul-principal;
          color: #fff;
          padding: 10px 40px;
        }
      }
      li.modalopen{
        cursor: pointer;
        transition: all ease 0.2s;
        &:hover{
          color: @verde
        }
      }

      li {
        text-decoration: none;
        color: @azul-title;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        display: block;
        margin-top: 4px;
      }
    }

    .right {
      width: 50%;

      img {
        position: relative;
        bottom: 10px;
      }

      .banner-mobile {
        display: none;
      }
    }

  }

}

//Carrossel 

.carousel-home {
  width: 90%;
  margin: 50px auto 80px auto;
  //height: 500px;
  h2 {
    margin-top: 100px;
    font-size: 40px;
    line-height: 45px;
    width: 100%;
    // float: left;
    font-weight: 400;
    color: @azul-title;
    text-align: center;
  }
}


//Center 

.materiais {
  //
  background: @azul-principal;
  background-size: cover;
  width: 89%;
  padding: 120px 5vw;
  margin-bottom: 80px;
  position: relative;
  .textos {
    width: 50%;
    position: relative;
    float: left;
    //top: 30%;
    //left: 414px;
    h2 {
      font-size: 40px;
      font-weight: 400;
      line-height: 45px;
      color: @branco;
    }
    p {
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      padding-top: 40px;
      color: @branco;
    }
  }
  img{
    float: right;
    width: 50%;
    height: auto;
    margin: -150px 0px -190px 0px;
  }
}


//Como funciona?

.como-funciona {
  margin: 0 auto;
  text-align: center;  
  h2 {

    font-size: 40px;
    color: @color-text;
    font-weight: 400;
  }
  p {
   color: #FF7171
  }
}
.block-functions {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 100px;
  margin-bottom: 30px;
  .box-function {
    width: 20%;
    h4 {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 20px;
      margin-top: 10px;
      font-weight: 700;
      color: @color-text;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      width: 100%;
      color: @color-text;
    }
    .icon {
      position: relative;
      img {
        z-index: 2;
        position: relative;
        left: -5px;
      }
      &:after {
        content: '';
        display: block;
        width: 187px;
        height: 24px;
        background: #39408914;
        position: absolute;
        left: 20px;
        bottom: 14px;
        z-index: 0;
      }

    }

  }
}

.Modal{
  //background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 60%;
  display: block;
  opacity: 1;
  svg{
    cursor: pointer;
    margin: -40px 0px 5px 0px;
    float: right;
    font-size: 32px;
    transition: all ease 0.2s;
    &:hover{
      color: var(--pink);
    }
  }
  video{
    width: 100%;
  }
}

.ReactModal__Overlay{
  z-index: 10000;
}

.video{
  position: relative;
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    opacity: 0.7;
  }
  // .overlay{
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   opacity: 1;
  //   z-index: 7;
  //   background: #905e9e;
  //   mix-blend-mode: multiply;
  // }
}
