.link-whats .whatsapp {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #14A38B;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  padding: 5px 0;
}
.link-whats .whatsapp .svg-inline--fa.fa-w-14 {
  background: #34af23;
  border-radius: 100%;
  font-size: 24px;
  margin: 1px 10px -3px;
}
.link-whats:hover .text {
  opacity: 0.6;
}
