//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

//
.link-whats {


    .whatsapp {
        width: 100%;
        text-align: center;
        color: @branco;
        background: @verde;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        padding: 5px 0;
        .svg-inline--fa.fa-w-14 {
            background:  #34af23 ;
            border-radius: 100%;
            font-size: 24px;
            margin: 1px 10px -3px;
        }
    
    
    }

    &:hover {
        .text {
            opacity: 0.6;
        }
    }

    
}

