@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.clear{
    clear: both;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}

input, select {
    color: @color-text;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: 16px;
    font-weight: 400;
}

// select {
//     width: 386px;
//     height: 20px;
//     border: 1px solid #7C9CBF;
//     border-radius: 5px;
//     padding: 19px 10px;
// }


input[type=radio]:checked {
    background-color: @verde;
}

label {
    color: @color-label;
    font-weight: 500;
}

.content {
    width: 90%;
    margin: 0 auto;
}

button, input[type="submit"]{
    border-radius: 5px;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    transition: all ease 0.2s;
    font-weight: bold;
    // &:hover{
    //     background: @rosa-principal;
    //     color: @branco;
    // }
}

textarea{
    font-family: 'IBM Plex Sans', sans-serif;
}

#main-internas {
    width: 100%;
    background: #f4f5f9;
    padding-bottom: 80px;
    height: 100%;
}

.path {
    width: 90%;
    height: 30px;
    margin: 0 auto 10px auto;
    padding-top: 25px;
    ul {
        display: flex;
         li {
            padding-right: 5px;
            color: #394089c9;
            text-transform: capitalize;
            font-size: 12px;
            a {
                text-decoration: none;
                color:#394089c9;
                &:hover{
                    color: @rosa-principal;
                }
            }
         }
    }
}

.internas {
    width: 1024px;

    .title {

        h1 {

            font-size: 36px;
            line-height: 46px;
            color:@azul-title;
            padding: 20px 0;
            text-align: left;
        }

    }

    p {
        font-size: 16px;
        line-height: 30px;
        color: @azul-principal;
        padding: 30px 0px 5px;
    }
}

.barra-dados{
    width: 24%;
}

// BUTTONS

.btn{
    background: @azul-principal;
    border: 1px solid @azul-principal;
    color: @branco;
    transition: all ease 0.2s;
    padding: 10px 30px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    &:hover{
        background: @verde;
        border-color: @verde;
    }
}

.btn.green{
    background: @verde;
    border: 1px solid @verde;
    &:hover{
        background: @azul-principal;
        border-color: @azul-principal;
    }
}

.btn.border{
    background: none;
    border: 1px solid @azul-principal;
    color: @azul-principal;
    &:hover{
        background: @verde;
        border-color: @verde;
        color: @branco;
    }
}

.btn.order{
    background: @rosa-principal;
    border-color: @rosa-principal;
    cursor: auto;
    display: block;
    width: auto;
    padding: 5px 10px;
    margin: 0px;
    &:before{
      content: 'Aguardando Orçamento'
    }
  }
  
  .btn.proposal{
    background: @amarelo-principal;
    border-color: @amarelo-principal;
    cursor: auto;
    display: block;
    width: auto;
    padding: 5px 10px;
    margin: 0px;
    &:before{
      content: 'Orçamento Recebido'
    }
  }
  
  .btn.payment{
    background: @verde;
    border-color: @verde;
    cursor: auto;
    display: block;
    width: auto;
    padding: 5px 10px;
    margin: 0px;
    &:before{
      content: 'Pagamento Realizado'
    }
  }

// TITLES

.brandtitle{
    color: @azul-principal;
    font-size: 28px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    &:after{
        margin-top: 10px;
        content: '';
        width: 60%;
        height: 5px;
        display: block;
        border-radius: 5px;
        background: rgb(57,64,137);
        background: linear-gradient(90deg, rgba(57,64,137,1) 0%, rgba(57,64,137,1) 33%, rgba(241,93,91,1) 33%, rgba(243,112,111,1) 66%, rgba(250,198,16,1) 66%, rgba(250,198,16,1) 100%);
    }
}

.linetitle{
    color: @azul-principal;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    span{
      background: #f4f5f9;
      padding: 0px 10px 0px 0px;
      position: relative;
      z-index: 2;
    }
    &:after{
      content: '';
      width: 100%;
      height: 2px;
      background: @azul-principal;
      display: block;
      position: absolute;
      top: 55%;
      z-index: 1;
    }
}



@media screen and (max-width: 480px) {

    .content {
        width: 100%;
    }

}