@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v9/zYXgKVElMYYaJe8bpLHnCwDKtdY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v9/zYX9KVElMYYaJe8bpLHnCwDKjSL9MIY.ttf) format('truetype');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ibmplexsans/v9/zYX9KVElMYYaJe8bpLHnCwDKjWr7MIY.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
select {
  color: #2C2738;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: 0 0 0 0;
  outline: 0;
  font-size: 16px;
  font-weight: 400;
}
input[type=radio]:checked {
  background-color: #14A38B;
}
label {
  color: #756F86;
  font-weight: 500;
}
.content {
  width: 90%;
  margin: 0 auto;
}
button,
input[type="submit"] {
  border-radius: 5px;
  cursor: pointer;
  font-family: 'IBM Plex Sans', sans-serif;
  transition: all ease 0.2s;
  font-weight: bold;
}
textarea {
  font-family: 'IBM Plex Sans', sans-serif;
}
#main-internas {
  width: 100%;
  background: #f4f5f9;
  padding-bottom: 80px;
  height: 100%;
}
.path {
  width: 90%;
  height: 30px;
  margin: 0 auto 10px auto;
  padding-top: 25px;
}
.path ul {
  display: flex;
}
.path ul li {
  padding-right: 5px;
  color: #394089c9;
  text-transform: capitalize;
  font-size: 12px;
}
.path ul li a {
  text-decoration: none;
  color: #394089c9;
}
.path ul li a:hover {
  color: #F15D5B;
}
.internas {
  width: 1024px;
}
.internas .title h1 {
  font-size: 36px;
  line-height: 46px;
  color: #2C3281;
  padding: 20px 0;
  text-align: left;
}
.internas p {
  font-size: 16px;
  line-height: 30px;
  color: #394089;
  padding: 30px 0px 5px;
}
.barra-dados {
  width: 24%;
}
.btn {
  background: #394089;
  border: 1px solid #394089;
  color: #fff;
  transition: all ease 0.2s;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover {
  background: #14A38B;
  border-color: #14A38B;
}
.btn.green {
  background: #14A38B;
  border: 1px solid #14A38B;
}
.btn.green:hover {
  background: #394089;
  border-color: #394089;
}
.btn.border {
  background: none;
  border: 1px solid #394089;
  color: #394089;
}
.btn.border:hover {
  background: #14A38B;
  border-color: #14A38B;
  color: #fff;
}
.btn.order {
  background: #F15D5B;
  border-color: #F15D5B;
  cursor: auto;
  display: block;
  width: auto;
  padding: 5px 10px;
  margin: 0px;
}
.btn.order:before {
  content: 'Aguardando Orçamento';
}
.btn.proposal {
  background: #FAC610;
  border-color: #FAC610;
  cursor: auto;
  display: block;
  width: auto;
  padding: 5px 10px;
  margin: 0px;
}
.btn.proposal:before {
  content: 'Orçamento Recebido';
}
.btn.payment {
  background: #14A38B;
  border-color: #14A38B;
  cursor: auto;
  display: block;
  width: auto;
  padding: 5px 10px;
  margin: 0px;
}
.btn.payment:before {
  content: 'Pagamento Realizado';
}
.brandtitle {
  color: #394089;
  font-size: 28px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.brandtitle:after {
  margin-top: 10px;
  content: '';
  width: 60%;
  height: 5px;
  display: block;
  border-radius: 5px;
  background: #394089;
  background: linear-gradient(90deg, #394089 0%, #394089 33%, #f15d5b 33%, #f3706f 66%, #fac610 66%, #fac610 100%);
}
.linetitle {
  color: #394089;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}
.linetitle span {
  background: #f4f5f9;
  padding: 0px 10px 0px 0px;
  position: relative;
  z-index: 2;
}
.linetitle:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #394089;
  display: block;
  position: absolute;
  top: 55%;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .content {
    width: 100%;
  }
}
