@media screen and (max-width: 768px) {
  .content {
    width: 95%;
  }
  header {
    height: auto;
  }
  header .logo {
    display: none;
  }
  header .logo-mobile {
    display: block;
  }
  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
  }
  .header .menumobile {
    font-size: 32px;
    color: #394089;
    margin-left: 20px;
  }
  .header nav {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #394089;
    width: 60%;
    height: 100%;
    z-index: 9999;
    padding-top: 15vw;
    padding-left: 10vw;
  }
  .header nav.active {
    display: block;
  }
  .header nav ul {
    display: block;
  }
  .header nav ul li {
    display: block;
  }
  .header nav ul li a {
    color: #fff;
    font-weight: bold;
  }
  .header .btns ul li .login {
    width: 100px;
  }
  .header .btns ul li .cadastrar {
    width: 120px;
  }
  .header .btns ul li .btn {
    padding: 10px !important;
  }
  .whatsapp {
    font-size: 14px;
  }
  .slider-home {
    overflow: inherit;
    height: auto;
  }
  .slider-home .conteudo-slider {
    width: 100%;
    display: grid;
  }
  .slider-home .conteudo-slider h1 {
    font-size: 36px;
    line-height: 44px;
  }
  .slider-home .conteudo-slider .left {
    width: 95%;
    margin-bottom: 100px;
    padding-left: 15px;
    top: 50px;
  }
  .slider-home .conteudo-slider .left .btns-slider {
    display: grid;
  }
  .slider-home .conteudo-slider .left .btns-slider li:last-child {
    margin-top: 5px;
  }
  .slider-home .conteudo-slider .left .btn-orcar {
    padding: 0;
    margin-bottom: 15px;
  }
  .slider-home .conteudo-slider .left .btn-orcar:hover {
    background: #14A38B !important;
  }
  .slider-home .conteudo-slider p {
    width: 96%;
    line-height: 56px;
    font-size: 29px;
    line-height: 39px;
  }
  .slider-home .conteudo-slider .right {
    width: 100%;
  }
  .slider-home .conteudo-slider .right .banner {
    display: none;
  }
  .slider-home .conteudo-slider .right .banner-mobile {
    display: block;
    width: 100%;
  }
  .slider-home .conteudo-slider .right img {
    bottom: 0;
    top: 2px;
  }
  .carousel-home {
    display: grid;
    height: auto;
  }
  .carousel-home h2 {
    width: 100%;
  }
  .carousel-home .beneficios {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 135px;
    padding: 0;
    left: 8px;
  }
  .carousel-home .beneficios .beneficiobox {
    min-width: 285px;
    width: 80%;
  }
  .carousel-home .beneficios .beneficiobox h3 {
    width: 70%;
  }
  .carousel-home .line {
    position: relative;
    right: -19px;
    top: 132px;
    width: 100%;
  }
  .materiais .textos {
    width: 100%;
  }
  .materiais img {
    width: 100%;
    margin: 40px 0 -146px;
  }
  .center {
    background: #394089;
  }
  .center .textos {
    width: 82%;
    position: relative;
    top: 18%;
    left: 14%;
  }
  .como-funciona {
    margin: 40px auto;
  }
  .como-funciona .block-functions {
    display: grid;
    padding: 30px 66px;
  }
  .como-funciona .box-function {
    width: 100%;
  }
  .createaccount {
    width: 100%;
    display: block;
  }
  .createaccount .form-createaccount {
    left: 0;
    box-shadow: none;
    padding: 50px 0;
    width: 94%;
  }
  .imagem-pre-footer {
    display: none;
  }
  .footer-top {
    display: grid!important;
    width: 100%!important;
  }
  .footer-top .logo-footer {
    width: 100%!important;
    display: block;
    text-align: center;
  }
  .footer-top .menu_footer .menu-footer ul {
    display: grid;
    margin-top: 25px;
  }
  .pedidos {
    display: block;
  }
  .pedidos .left {
    width: 100%;
  }
  .pedidos .left span {
    width: 100%;
  }
  .pedidos .right {
    width: 100%;
    margin-top: 22px;
  }
  .pedidos .right img {
    width: 100%;
  }
  .criar-conta {
    display: block;
  }
  .criar-conta .left {
    width: 100%;
  }
  .criar-conta .right {
    width: 100%;
    display: block;
    margin-top: 40px;
  }
  .criar-conta .right .form-createaccount {
    padding: 50px 22px 40px 16px;
  }
  .form-login {
    width: 95%;
    right: 0;
  }
  .form-login h3,
  .form-login p {
    padding: 32px 19px 0px!important;
  }
  .form-login .form-login-senha {
    width: 90%;
  }
  .form-login .form-login-senha input {
    width: 93%;
  }
  .faq .duvidas p {
    font-size: 22px;
    line-height: 32px;
  }
  .barra-title img {
    width: 100%;
  }
  .fale-conosco h3,
  .fale-conosco p {
    padding: 10px 22px 0px;
  }
  .fale-conosco .conteudo-fale-conosco {
    display: block;
    width: 99%;
  }
  .fale-conosco .conteudo-fale-conosco .imagem-fale-conosco img {
    width: 100%;
    border-radius: 15px;
  }
  .fale-conosco .conteudo-fale-conosco .form-fale-conosco {
    width: 100%;
    right: 0;
  }
  .fale-conosco .conteudo-fale-conosco .form-fale-conosco .form-criar-conta {
    width: 90%;
  }
  .fale-conosco .conteudo-fale-conosco .form-fale-conosco .form-criar-conta input,
  .fale-conosco .conteudo-fale-conosco .form-fale-conosco .form-criar-conta textarea {
    width: 92%;
  }
  .fale-conosco .conteudo-fale-conosco .imagem-fale-conosco {
    width: 100%;
    height: 445px;
    padding: 0;
  }
  .order {
    display: block;
    width: 90%;
  }
  .order .left {
    width: 100%;
  }
  .order .left .criar-pedido .lineone,
  .order .left .criar-pedido .linetwo {
    display: block;
  }
  .order .left .criar-pedido input {
    width: 93%;
  }
  .order .left .criar-pedido select {
    width: 100%;
  }
  .order .left .criar-pedido .btn {
    height: auto;
  }
  .order .left .entrega {
    padding-top: 65px;
    display: block;
  }
  .order .left .entrega p {
    text-align: center;
  }
  .order .right {
    width: 100%;
  }
  .etapas .etapas-linha {
    width: 100%;
  }
  .etapas .etapas-linha img {
    width: 100%;
  }
  .etapas .etapas-linha ul li {
    padding: 10px 0px;
    font-size: 12px;
    text-align: left;
  }
  .etapas .details-pedido .left {
    width: 95%;
  }
  .etapas .details-pedido .left .box {
    padding: 10px;
  }
  .etapas .details-pedido .right {
    width: 95%;
  }
  .etapas .details-pedido .right .description {
    width: 95%;
    padding: 20px 20px 20px 12px;
  }
  .meus-dados {
    display: block;
    width: 100%;
  }
  .meus-dados .left {
    width: 100%;
  }
  .meus-dados .right {
    width: 100%;
    margin-top: 25px;
  }
  .meus-dados .right .dado-two {
    display: block;
    padding-top: 10px;
  }
  .meus-dados form .dados-interna {
    display: block;
  }
  .meus-dados form .dados-interna input {
    width: 93%;
  }
  .orderlist .orderrow {
    grid-template-columns: auto;
  }
  .form-createaddress form .formgrid {
    grid-template-columns: auto;
  }
  .form-createaddress form .btn {
    display: block;
    margin: 20px auto;
    float: none;
    margin-left: 58px;
  }
}
