//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

@media screen and (max-width: 768px) {

  .content {
    width: 95%;
  }

  header {
    height: auto;
    .logo {
        display: none;
    }

    .logo-mobile {
      display: block;
      //padding: 10px 17px 0px;
    }

}

.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    .menumobile{
      font-size: 32px;
      color: @azul-principal;
      margin-left: 20px;
    }
    nav{
      display: none;
      position: absolute;
      right: 0px;
      top: 0px;
      background: @azul-principal;
      width: 60%;
      height: 100%;
      z-index: 9999;
      padding-top: 15vw;
      padding-left: 10vw;
      &.active{
        display: block;
      }
      ul{
        display: block;
        li{
          display: block;
          a{
            color: @branco;
            font-weight: bold;
          }
        }
      }
    }

    .btns  {

        ul {

            li {

                .login {
                    width: 100px;
                }
        
                .cadastrar {
                    width: 120px;
                }
                .btn{
                  padding: 10px !important;
                }


            }

        }
    }

}

.whatsapp {
  font-size: 14px;
}

.slider-home {
      overflow: inherit;
      height: auto;
      
      .conteudo-slider {
        width: 100%;
        display: grid;

        h1 {
          font-size: 36px;
          line-height: 44px;
        }
  
        .left {
          width: 95%;
          margin-bottom: 100px;
          padding-left: 15px;
          top:50px;
  
          .btns-slider {
            display: grid;
            li:last-child {
              margin-top: 5px;
            }
          }
  
          .btn-orcar {
            padding: 0;
            margin-bottom: 15px;
            &:hover{
              background: @verde !important;
            }
          }
        }
  
        p {
          width: 96%;
          line-height: 56px;
          font-size: 29px;
          line-height: 39px;
        }
        
        .right {
          width: 100%;
          .banner {
            display: none;
          }
  
          .banner-mobile {
            display: block;
            width: 100%;
          }
  
          img {
            bottom: 0;
            top: 2px;
            
          }
          
        }
      }
  
    }
  
.carousel-home {
      display: grid;
      height: auto;
    
    h2 {
      width: 100%;
    }
  
      .beneficios {
        display: block;
        position: relative;
        width: 100%;
        margin-top: 135px;
        // right: 29px;
        padding:0;
        left: 8px;
  
        .beneficiobox {
          min-width: 285px;
          width: 80%;

            h3 {
              width: 70%;
            }
        }
      }
    
      .line {
        position: relative;
        right: -19px;
        top: 132px;
        width: 100%;
      }
    }

    .materiais  {
        .textos {
            width: 100%;
        }

        img {
            width: 100%;
            margin: 40px 0 -146px;
        }
    }
    
    .center {
    
      background: @azul-principal;
    
      .textos {
    
        width: 82%;
        position: relative;
        top: 18%;
        left: 14%;
    
      }
    
    }
    
    .como-funciona {
    
      margin: 40px auto;
    
      .block-functions {
    
        display: grid;
        padding: 30px 66px;
    
        }
    
    .box-function {
        width: 100%;
    }
    
      }
    
    .createaccount{
        width: 100%;
        display: block;

        .form-createaccount {
            left: 0;
            box-shadow: none;
            padding: 50px 0;
            width: 94%
        }
    }
    
    .imagem-pre-footer {
        display: none;
    }

    .footer-top{
        display: grid!important;
        width: 100%!important;

        .logo-footer {
            width: 100%!important;
            display: block;
            text-align: center;
        }

        .menu_footer {

            .menu-footer {
               
                ul {
                    display: grid;
                    margin-top: 25px;
                }
            }
        }
    }
  

  //Page Pedido Confirmado 

  .pedidos {
    display: block;
    .left {
      width: 100%;
      span {
        width: 100%;
      }
    }
    .right {
      width: 100%;
      margin-top: 22px;
      img {
        width: 100%;
      }
    }
  }

  //Page Criar Conta 

  .criar-conta {
    display: block;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      display: block;
      margin-top: 40px;
      .form-createaccount {
        padding: 50px 22px 40px 16px;
    }
    }
  }

  //Page Login 

  .form-login {
    width: 95%;
    right: 0;
    h3, p {
      padding: 32px 19px 0px!important;
    }
    .form-login-senha {
      width: 90%;
      input {
        width: 93%;
      }
    }
  }

  //Page Faq 

  .faq {
    .duvidas p {
      font-size: 22px;
      line-height: 32px;
    }
  }

  .barra-title{
    img {
      width: 100%;
    }
  }

  //Page Contato

  .fale-conosco {
    h3, p {
      padding: 10px 22px 0px;
    }
    .conteudo-fale-conosco {
      display: block;
      width: 99%;

      .imagem-fale-conosco {
        img {
          width: 100%;
          border-radius: 15px;
        }
      }

      .form-fale-conosco {
        width: 100%;
        right: 0;

        .form-criar-conta {
          width: 90%;

          input,textarea {
            width: 92%;
          }
        }
      }
      
      .imagem-fale-conosco {
        width: 100%;
        height: 445px;
        padding: 0;
      }
    }
  }

  // Page Fazer Pedido

  .order {
    display: block;
    width: 90%;
      .left {
        width: 100%;
        .criar-pedido {
          .lineone,.linetwo {
            display: block;
          }
          input {
            width: 93%;
          }
          select {
            width: 100%;
          }
          .btn {
            height: auto;
          }
        }
        .entrega {
          padding-top: 65px;
          display: block;
          p {
            text-align: center;
          }
        }
      }
      .right {
        width: 100%;
      }
  }

  //Page Etapas

  .etapas {
    .etapas-linha {
        width: 100%;
        img {
          width: 100%;
        }
        ul {
          li {
            padding: 10px 0px;
            font-size: 12px;
            text-align: left;
          }
        }
    }
    .details-pedido {
      .left {
        width: 95%;
        .box {
          padding: 10px;
        }
      }
      .right {
        width: 95%;
        .description {
          width: 95%;
          padding: 20px 20px 20px 12px;
        }
      }
    }
  }

  //Page Meus Dados

  .meus-dados {
    display: block;
    width: 100%;
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
      margin-top: 25px;
      .dado-two {
        display: block;
        padding-top: 10px;
      }
    }

    form {
      .dados-interna {
        display: block;
        input {
          width: 93%;
        }
      }
    }
  }

  //Page Meus Pedidos 

  .orderlist {

    .orderrow {
      grid-template-columns:auto;
    }

  }

  //Endereço

  .form-createaddress {
    form {
      .formgrid {
        grid-template-columns:auto;
      }
      .btn {
        display: block;
        margin: 20px auto;
        float: none;
        margin-left: 58px;
      }
    }

  } 
          
}


  
  
  
  