.form-login-troque {
  background: #fff;
  margin: 40px auto;
  width: 600px;
  height: 390px;
  border-radius: 15px;
  padding: 26px 0;
  box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.14);
  position: relative;
  right: 34px;
}
.form-login-troque h3 {
  color: #2C3281;
  font-size: 24px;
  padding: 32px 46px 0px;
}
.form-login-troque span {
  padding: 40px 5px;
  display: block;
}
.form-login-troque span a {
  color: #14A38B;
  font-size: 16px;
}
.form-login-troque .form-login-senha {
  width: 510px;
  height: 520px;
  margin: 20px auto;
}
.form-login-troque .form-login-senha label {
  display: block;
  padding: 20px 0px 5px;
  color: #756F86;
  font-size: 16px;
  font-weight: 500;
}
.form-login-troque .form-login-senha label a {
  color: #756F86;
}
.form-login-troque .form-login-senha input {
  width: 95%;
  margin-bottom: 10px;
  padding: 20px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.form-login-troque .form-login-senha input[type="checkbox"] {
  width: 3%;
}
.form-login-troque .form-login-senha button {
  width: 100%;
  cursor: pointer;
  background: #394089;
  color: #fff;
  padding: 15px 0px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(112, 112, 112, 0.5);
  -moz-box-shadow: 0px 8px 10px 0px rgba(112, 112, 112, 0.5);
  box-shadow: 0px 8px 10px 0px rgba(112, 112, 112, 0.5);
}
.form-login-troque .form-login-senha .ciente {
  padding: 20px 0px;
}
