//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.form-login-troque {

   background: #fff;
   margin: 40px auto;
   width: 600px;
   height: 390px;
   border-radius: 15px;
   padding: 26px 0;
   box-shadow: 9px 0px 10px rgb(112 112 112 / 14%);
   position: relative;
   right: 34px;
   height: auto;


    h3 {
      color: @azul-title;
      font-size: 24px;
      padding: 32px 46px 0px;
    }
  
    span {
  
        padding: 40px 5px;
        display: block;
  
      a {
  
        color: @verde;
        font-size: 16px;
  
      }
  
    }

    .form-login-senha {

      width: 510px;
      height:520px;
      margin: 20px auto;
      

      label {
        display: block;
        padding: 20px 0px 5px;
        color: @color-label;
        font-size: 16px;
        font-weight: 500;

        a {
          color: @color-label;
        }
      }

      input {
        
        width: 95%;
        margin-bottom: 10px;
        padding: 20px 10px;
        border: 1px solid #DBE2EA;
        border-radius: 5px;

      }

      input[type="checkbox"]{

        width: 3%;
      }

      button {
        width: 100%;
        cursor: pointer;
        background: @azul-principal;
        color: @branco;
        padding: 15px 0px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        -webkit-box-shadow: 0px 8px 10px 0px rgb(112 112 112 / 50%);
        -moz-box-shadow:    0px 8px 10px 0px rgb(112 112 112 / 50%);
        box-shadow:         0px 8px 10px 0px rgb(112 112 112 / 50%);        
      }

      .ciente {

        padding: 20px 0px;

      }

    }

  }