header {
  width: 100%;
  height: 100px;
  margin-bottom: 0px;
}
header .logo {
  width: 195px;
  height: 45px;
  margin-top: 10px;
}
header .logo-mobile {
  display: none;
}
.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 18px 0;
}
.header .btns {
  display: inline-block;
}
.header .btns ul {
  display: flex;
}
.header .btns ul li {
  list-style: none;
  padding: 10px;
}
.header .btns .useraccount {
  color: #394089;
  font-weight: bold;
}
.header .btns .useraccount:hover {
  color: #14A38B;
}
.header .btns .exit {
  cursor: pointer;
  color: #969AC8;
}
.header .btns .exit:hover {
  color: #F15D5B;
}
