//Cores

@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;

//fim Cores

//Images

@logo-width: 195px;
@logo-height: 45px;

//fim Imagens

header {
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    // -webkit-box-shadow: 0px -5px 27px rgb(112 112 112 / 50%);
    // -moz-box-shadow: 0px -5px 27px rgb(112 112 112 / 50%);
    // box-shadow: 0px -5px 27px rgb(112 112 112 / 50%);
    .logo {
        width: @logo-width;
        height: @logo-height;
        margin-top: 10px;
    }
    .logo-mobile {
        display: none;
    }
}

.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //grid-template-columns: 1.4fr 0.4fr 1fr;
    padding: 18px 0;
    .btns {
        //cursor: pointer;
        display: inline-block;
        ul{
            display: flex;
            li {
                list-style: none;
                padding: 10px;
            }
        }
        .useraccount{
            color: @azul-principal;
            font-weight: bold;
            &:hover{
                color: @verde;
            }
        }
        .exit{
            cursor: pointer;
            color: #969AC8;
            &:hover{
                color: @rosa-principal;
            }
        }
    }
}



