//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

//

.parceiros {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
  h2 {
    color: @color-text;
    font-size: 40px;
    display: block;
    text-align: center;
    font-weight: 400;
  }
  ul {
    // width: 59%;
    // display: flex;
    // margin: 0 auto;
    padding: 80px 0px;
    li {
      display: inline-block;
      padding: 10px;
    }
  }
  .slick-slide{
    display: inline-block;
  }
}