.parceiros {
  width: 100%;
  margin-top: 100px;
  overflow: hidden;
}
.parceiros h2 {
  color: #2C2738;
  font-size: 40px;
  display: block;
  text-align: center;
  font-weight: 400;
}
.parceiros ul {
  padding: 80px 0px;
}
.parceiros ul li {
  display: inline-block;
  padding: 10px;
}
.parceiros .slick-slide {
  display: inline-block;
}
