@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

.form-createaddress{
  margin-bottom: 20px;
  form{
    width: 95%;
    .formgrid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 30px;
    }
    label {
      display: block;
      padding: 10px 0px 5px;
      color: @color-label;
      font-size: 16px;
      font-weight: 500;
      a {
        color: @color-label;
        &:hover{
          color: @verde;
        }
      }
    }
    input { 
      width: 100%;
      margin-bottom: 10px;
      padding: 15px 5px 15px 10px;
      border: 1px solid #DBE2EA;
      border-radius: 5px;
    }
    .btn{
      margin-right: -20px;
      margin-top: 20px;
      float: right;
    }
  }
}