.form-createaddress {
  margin-bottom: 20px;
}
.form-createaddress form {
  width: 95%;
}
.form-createaddress form .formgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px 30px;
}
.form-createaddress form label {
  display: block;
  padding: 10px 0px 5px;
  color: #756F86;
  font-size: 16px;
  font-weight: 500;
}
.form-createaddress form label a {
  color: #756F86;
}
.form-createaddress form label a:hover {
  color: #14A38B;
}
.form-createaddress form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px 5px 15px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.form-createaddress form .btn {
  margin-right: -20px;
  margin-top: 20px;
  float: right;
}
