.beneficios {
  display: flex;
  justify-content: right;
  padding: 75px 0 30px;
}
.beneficios .beneficiobox {
  width: 350px;
  background: #fff;
  padding: 10px 10px 20px 10px;
  box-shadow: 1px 2px 10px 2px rgba(19, 23, 80, 0.1);
  -webkit-box-shadow: 1px 2px 10px 2px rgba(19, 23, 80, 0.1);
  -moz-box-shadow: 1px 2px 10px 2px rgba(19, 23, 80, 0.1);
  border-radius: 10px;
  transition: all ease 0.2s;
  margin: 10px;
  flex: 1 1 auto;
}
.beneficios .beneficiobox i {
  font-size: 25px;
  margin-top: 20px;
  color: #14A38B;
  position: relative;
  /* top: 67px; */
  left: 10px;
  display: block;
}
.beneficios .beneficiobox h3 {
  font-size: 28px;
  color: #2C3281;
  position: relative;
  left: 5px;
  padding: 10px;
}
.line {
  width: 66%;
  height: 5px;
  background: url("../../assets/images/linha.png") center center;
  position: absolute;
  right: 0;
  display: none;
}
.line #barra {
  background: url('../../assets/images/barra.png') no-repeat center center;
  width: 37px;
  height: 5px;
  transition: all ease-in-out 0.4s;
}
.line .one {
  margin-left: 7%;
}
.line .two {
  margin-left: 21%;
}
.line .three {
  margin-left: 35%;
}
.line .four {
  margin-left: 48%;
}
.line .five {
  margin-left: 62%;
}
.line .six {
  margin-left: 76%;
}
.line .seven {
  margin-left: 89%;
}
