//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color


.beneficios{
    display: flex;
    justify-content: right;
    padding: 75px 0 30px;
    .beneficiobox{
        // cursor: pointer;
        width: 350px;
        // min-width: 250px;
        background: @fundo-branco;
        padding: 10px 10px 20px 10px;
        box-shadow: 1px 2px 10px 2px rgba(19,23,80,0.1);
        -webkit-box-shadow: 1px 2px 10px 2px rgba(19,23,80,0.1);
        -moz-box-shadow: 1px 2px 10px 2px rgba(19,23,80,0.1);
        border-radius: 10px;
        transition: all ease 0.2s;
        margin: 10px;
        flex: 1 1 auto;
        i{
            font-size: 25px;
            margin-top: 20px;
            color: @verde;
            position: relative;
            /* top: 67px; */
            left: 10px;
            display: block;
        }
        h3{
            font-size: 28px;
            color: @azul-title;
            position: relative;
            left: 5px;
            padding: 10px;
        }
    }
}

.line{
    width: 66%;
    height: 5px;
    background: url("../../assets/images/linha.png") center center;
    position: absolute;
    right: 0;
    display: none;
    #barra{
        background: url('../../assets/images/barra.png') no-repeat center center;
        width: 37px;
        height: 5px;
        transition: all ease-in-out 0.4s;
    }
    .one{
        margin-left: 7%;
    }
    .two{
        margin-left: 21%;
    }
    .three{
        margin-left: 35%;
    }
    .four{
        margin-left: 48%;
    }
    .five{
        margin-left: 62%;
    }
    .six{
        margin-left: 76%;
    }
    .seven{
        margin-left: 89%;
    }
}