//Cores

@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;

//fim Cores

footer {
    background-color: @azul-principal;
    .footer-top {
        display: flex;
        border-bottom: 1px solid #fff;
        padding: 30px 0;
        width: 1245px;
        margin: 0 auto;

        .logo-footer {
            width: 50%;
        }

        .menu_footer {
            width: 50%;
        }
    }

    .rights {

        display: block;
        text-align: center;
        color: #fff;
        font-size: 14px;
        line-height: 28px;
        padding: 30px 0;
    }
}
