footer {
  background-color: #394089;
}
footer .footer-top {
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 30px 0;
  width: 1245px;
  margin: 0 auto;
}
footer .footer-top .logo-footer {
  width: 50%;
}
footer .footer-top .menu_footer {
  width: 50%;
}
footer .rights {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
  padding: 30px 0;
}
