// //Color
 
// @fundo-azul-claro: #2c32811a;
// @azul-title: #2C3281;
// @color-text: #2C2738;
// @azul-principal: #394089;
// @fundo-branco: #fff;
// @fundo-azul: #2C3281;
// @rosa-principal: #F15D5B;
// @amarelo-principal: #FAC610 ;
// @laranja-principal: #E65E2E;
// @verde: #14A38B;
// @branco: #fff;
// @color-label: #756F86;
// @border-input: #DBE2EA;

// // fim Color

// .etapas {
//     .barra-title {

//         img {
//             width: 31%;
//         }

//     } 

//     .etapas-linha {
    
//           .boxe-pedido {
//             width: 170px;
//             height: 100px;
//             background: @branco;
//             border-radius: 5px;
//             color: @azul-principal;
//             padding: 10px;
//             position: relative;
//             left: 285px;
//             margin-top: 20px;

//             &::after {
//                 border-left: 15px solid transparent;
//                 border-right: 15px solid transparent;
//                 border-bottom: 15px solid #fff;
//                 top: -9px;
//                 content: '';
//                 left: 50%;
//                 margin-left: -15px;
//                 position: absolute;
//             }

//             h4 {
//                 font-size: 16px;
//                 display: block;
//                 padding-top: 10px;
//             }

//             span { 
//                 font-size: 14px;
//                 display: block;
//                 padding: 10px 0px;
//             }
//         }
    

//     }

//     .details-pedido {

//         display: flex;

//         .left {

//             .details {

//                 background: @branco;
//                 width: 387px;
//                 height: 165px;
//                 border-radius: 5px;
//                 margin-bottom: 42px;

//                 .title {
//                         border-bottom: 1px solid #756F86;
//                         padding-bottom: 10px;
//                         color: @azul-principal;
//                         font-size: 16px;
//                         font-weight: 500;
//                 }

//             }

            
//             .box {
//                 width: 329px;
//                 margin: 0 auto;
//                 padding: 20px 0;

//                 ul {

//                     li {

//                         color: @azul-principal;
//                         font-size: 16px;
//                         font-weight: 500;
//                         padding: 5px 0;

//                         span {
//                            p {
//                             font-size: 14px!important;
//                             padding: 0!important;
//                             line-height: 16px!important;
//                            }
//                         }
//                     }
//                 }
//             }
            
//             .address {
                
//                 background: @branco;
//                 width: 387px;
//                 height: 165px;
//                 border-radius: 5px;

//             }

//         }

//         .right {

//             margin-left: 40px;

//             .description {

//                 width: 598px;
//                 height: 372px;
//                 background: @branco;
//                 border-radius: 5px;

//                 ul {

//                     padding-top: 10px;

//                     li {
//                         &:last-child {
//                             border-bottom: none;
//                         }

//                     }

//                     .row {
//                         display: grid;
//                         grid-template-columns: 4fr 1fr;
//                         width: 523px;
//                         margin: 20px auto;
//                         border-bottom: 1px solid #756F86;
//                         padding-bottom: 10px;
//                         color: @azul-principal;
//                         font-size: 16px;
//                         font-weight: 500;

//                         .units {
//                             text-align: center;
//                         }
//                     }

//                 }

//                 .separador {
//                     display: block;
//                     margin: 30px auto;
//                 }

//                 .value {
//                     display: grid;
//                     grid-template-columns: 6fr 2fr;
//                     width: 523px;
//                     margin: 0 auto;

//                     li {
                       
//                     }

//                     .valor {

//                         span {
//                             color: #394089;
//                             font-size: 16px;
//                             font-weight: 500;
//                         }
    
//                         a {
//                             font-size: 14px;
//                             color: #39408980;
//                             display: block;
//                             padding-top: 10px;
//                         }
//                     }
    
//                     .valor-number {
//                         color: @verde;
//                         font-weight: 500;
//                         text-align: center;
//                         font-size: 24px;
//                     }
//                 }

//             }


//         }
        
//     }
// }


