.right {
  width: 795px;
}
.right .top-enderecos {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  color: #394089;
  font-size: 18px;
  font-weight: 500;
}
.right .top-enderecos .space {
  border-bottom: 1px solid #2C3281;
  position: relative;
  bottom: 10px;
  right: 39px;
}
.right .top-enderecos button {
  background: #14A38B;
  color: #fff;
  width: 174px;
  height: 34px;
  cursor: pointer;
  border: none;
}
.right .boxes-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #394089;
  margin-top: 20px;
  width: 758px;
  margin-bottom: 20px;
}
.right .boxes-end h4 {
  font-size: 18px;
  padding: 5px 0;
}
.right .boxes-end span {
  font-size: 14px;
}
.right .boxes-end .boxe-white {
  background: #fff;
  border-radius: 10px;
  width: 320px;
  height: 104px;
  padding: 15px 15px 40px 25px;
  margin-bottom: 20px;
  position: relative;
}
.right .boxes-end .boxe-white .principal {
  display: block;
  padding-top: 15px;
}
.right .boxes-end .boxe-white .radio {
  margin-right: 5px;
}
.right .boxes-end .boxe-white .pencilicon {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}
.right .boxes-end .boxe-white .pencilicon:hover {
  color: #14A38B;
}
.right .boxes-end .boxe-white .trashicon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.right .boxes-end .boxe-white .trashicon:hover {
  color: #F15D5B;
}
.right .enderecos-form {
  width: 790px;
}
.right .enderecos-form input {
  width: 340px!important;
}
.right .enderecos-form select {
  width: 363px!important;
}
