//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.right {

    width: 795px;

    .top-enderecos {
        display: grid;
        grid-template-columns: 0.5fr 2fr;
        color:@azul-principal;
        font-size: 18px;
        font-weight: 500;

        .space {
            border-bottom: 1px solid #2C3281;
            position: relative;
            bottom: 10px;
            right: 39px;
        }

        button {
            background: @verde;
            color: @branco;
            width: 174px;
            height: 34px;
            cursor: pointer;
            border: none
        }
    }

    .boxes-end {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: @azul-principal;
        margin-top: 20px;
        width: 758px;
        margin-bottom: 20px;
        h4 {
            font-size: 18px;
            padding: 5px 0;   
        }
        span {
            font-size: 14px;
        }
        .boxe-white {
            background: @branco;
            border-radius: 10px;
            width: 320px;
            height: 104px;
            padding: 15px 15px 40px 25px;
            margin-bottom: 20px;
            position: relative;
            .principal {
                display: block;
                padding-top: 15px;
            }
            .radio {
                 margin-right: 5px;
            }
            .pencilicon{
                position: absolute;
                top: 20px;
                right: 50px;
                cursor: pointer;
                &:hover{
                    color: @verde;
                }
            }
            .trashicon{
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
                &:hover{
                    color: @rosa-principal;
                }
            }
        }
    }

    .enderecos-form {
        width: 790px;

        input {
            width: 340px!important;
        }

        select {
            width: 363px!important;
        }
    }
}