//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

.createaccount{
  width: 1245px;
  padding: 30px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto 50px auto;
  p {
    color: #20194a99;
    font-size: 16px;
  }
  span {
    a {
      color: @verde;
      font-size: 16px;
      transition: all ease 0.2s;
      &:hover{
        color: @rosa-principal;
      }
    }
  }
  .imagem-pre-footer {
    width: 573px;
    height: 676px;
    padding-left: 42px;
  }
}

.form-createaccount{
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  -moz-box-shadow:    9px 0px 10px rgba(112, 112, 112, 0.137);
  box-shadow:         9px 0px 10px rgba(112, 112, 112, 0.137);
  position: relative;
  left: -40px;
  padding: 50px 40px 0px 40px;
  h3 {
    color: @azul-title;
    font-size: 24px;
  }
  p{
    padding: 0px 0px 10px 0px !important;
  }
  .form-criar-conta {
    //margin: 20px auto;
    p.aviso{
      font-size: 10px;
      margin-bottom: 10px;
    }
    label {
      display: block;
      padding: 10px 0px 5px;
      color: @color-label;
      font-size: 16px;
      font-weight: 500;
      a {
        color: @color-label;
        text-decoration: underline;
        &:hover{
          color: @verde;
        }
      }
    }
    input { 
      width: 95%;
      margin-bottom: 10px;
      padding: 15px 10px;
      border: 1px solid #DBE2EA;
      border-radius: 5px;
    }
    input[type="checkbox"]{
      width: 3%;
    }
    button {
      width: 100%;
    }
    .ciente {
      padding: 20px 0px;
    }
  }
}