.createaccount {
  width: 1245px;
  padding: 90px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px auto 50px auto;
}
.createaccount p {
  color: #20194a99;
  font-size: 16px;
}
.createaccount span a {
  color: #14A38B;
  font-size: 16px;
  transition: all ease 0.2s;
}
.createaccount span a:hover {
  color: #F15D5B;
}
.createaccount .imagem-pre-footer {
  width: 573px;
  height: 676px;
  padding-left: 42px;
}
.form-createaccount {
  background: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  -moz-box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  box-shadow: 9px 0px 10px rgba(112, 112, 112, 0.137);
  position: relative;
  left: -40px;
  padding: 50px 40px 0px 40px;
}
.form-createaccount h3 {
  color: #2C3281;
  font-size: 24px;
}
.form-createaccount p {
  padding: 0px 0px 10px 0px !important;
}
.form-createaccount .form-criar-conta p.aviso {
  font-size: 10px;
  margin-bottom: 10px;
}
.form-createaccount .form-criar-conta label {
  display: block;
  padding: 10px 0px 5px;
  color: #756F86;
  font-size: 16px;
  font-weight: 500;
}
.form-createaccount .form-criar-conta label a {
  color: #756F86;
  text-decoration: underline;
}
.form-createaccount .form-criar-conta label a:hover {
  color: #14A38B;
}
.form-createaccount .form-criar-conta input {
  width: 95%;
  margin-bottom: 10px;
  padding: 15px 10px;
  border: 1px solid #DBE2EA;
  border-radius: 5px;
}
.form-createaccount .form-criar-conta input[type="checkbox"] {
  width: 3%;
}
.form-createaccount .form-criar-conta button {
  width: 100%;
}
.form-createaccount .form-criar-conta .ciente {
  padding: 20px 0px;
}
