.order {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order .left {
  width: 50%;
}
.order .left .criar-pedido {
  margin: 20px 0;
}
.order .left .criar-pedido .lineone,
.order .left .criar-pedido .linetwo {
  display: grid;
  grid-gap: 30px;
  align-items: center;
}
.order .left .criar-pedido .lineone {
  grid-template-columns: 1fr 2.2fr;
}
.order .left .criar-pedido .linetwo {
  grid-template-columns: 1fr 1fr 1fr;
}
.order .left .criar-pedido label {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  color: #394089;
  font-weight: bold;
  font-size: 14px;
}
.order .left .criar-pedido input,
.order .left .criar-pedido select {
  width: 93%;
  border: 1px solid #7C9CBF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.order .left .criar-pedido .btn {
  width: 100%;
  height: 45px;
  float: right;
}
.order .left .entrega h4 {
  font-size: 24px;
  color: #394089;
  margin-bottom: 20px;
}
.order .left .entrega select {
  width: 100%;
  border: 1px solid #7C9CBF;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.order .left .entrega p a {
  color: #394089;
}
.order .left .entrega p a:hover {
  color: #14A38B;
}
.order .left .top-dados {
  width: 100%;
}
.order .left .top-dados h4,
.order .left .top-dados span,
.order .left .top-dados select {
  width: 100%;
}
.order .left .product {
  width: 100%;
}
.order .left .product .selecao {
  color: #2C2738;
}
.order .left .criar-pedido .dados-one .top-dados {
  color: #394089;
}
.order .left .criar-pedido .dados-one span {
  text-align: center;
  display: block;
  padding-top: 10px;
  color: #2C3281;
  font-weight: 500;
}
.order .right {
  width: 45%;
}
.order .right .title {
  display: block;
  background: #39408926;
  padding: 10px 26px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.order .right .orcamento {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px 0px 30px 0px;
}
.order .right .orcamento .note {
  display: block;
  margin: 80px auto 0 auto;
  width: 93%;
}
.order .right .orcamento .note h4 {
  color: #394089;
  margin-bottom: 10px;
}
.order .right .orcamento .note textarea {
  width: 93%;
  height: 70px;
  border: 1px solid #7C9CBF;
  border-radius: 5px;
  padding: 10px;
}
.order .right .orcamento .note .btn {
  float: right;
}
.order .right .description .row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  width: 88%;
  margin: 20px auto;
  border-bottom: 1px solid #756F86;
  padding: 0px 20px 10px 20px;
  color: #394089;
  font-size: 14px;
  font-weight: 500;
}
.order .right .description .row .category {
  opacity: 0.5;
}
.order .right .description .row .trash {
  text-align: right;
  cursor: pointer;
  color: #394089;
  transition: all ease 0.2s;
}
.order .right .description .row .trash:hover {
  color: #F15D5B;
}
.order .right .description .row .units {
  color: #14A38B;
  text-align: center;
}
.order .right .options {
  margin-top: 30px;
}
.order .right .options h3 {
  color: #394089;
  font-size: 22px;
  margin-bottom: 20px;
}
.order .right .options label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}
.order .right .options .full {
  width: 100%;
  margin-top: 20px;
}
