//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.order{
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .left {
        width: 50%;
        .criar-pedido {
            margin: 20px 0;
            .lineone,.linetwo{
                display: grid;
                grid-gap: 30px;
                align-items: center;
            }
            .lineone{
                grid-template-columns: 1fr 2.2fr;
            }
            .linetwo{
                grid-template-columns: 1fr 1fr 1fr;
            }
            label {
                width: 100%;
                margin-bottom: 10px;
                display: block;
                color: @azul-principal;
                font-weight: bold;
                font-size: 14px;
            }
            input,select {
                width: 93%;
                //height: 20px;
                border: 1px solid #7C9CBF;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 20px;
            }
            .btn{
                width: 100%;
                height: 45px;
                float: right;
            }
        }
        .entrega{
            h4{
                font-size: 24px;
                color: @azul-principal;
                margin-bottom: 20px;
            }
            select{
                width: 100%;
                border: 1px solid #7C9CBF;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 20px;
            }
            p{
                a{
                    color: @azul-principal;
                    &:hover{
                        color: @verde;
                    }
                }
            }
        }
        .top-dados {
            width: 100%;

            h4, span,select {
                width: 100%;
            }
        }

        .product {
            width: 100%;

            .selecao {
                color: #2C2738;
            }
        }

        .criar-pedido {
            .dados-one {
                .top-dados {
                    color: @azul-principal;
                }
                span {   
                    text-align: center;
                    display: block;
                    padding-top: 10px;
                    color: #2C3281;
                    font-weight: 500;
                }
            }
        }

    }

    .right {
        width: 45%;
        .title {
            display: block;
            background: #39408926;
            padding: 10px 26px;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .orcamento {
            width: 100%;
            margin: 0 auto;
            background: #fff;
            border-radius: 5px;
            padding: 20px 0px 30px 0px;
            .note {
                display: block;
                margin: 80px auto 0 auto;
                width: 93%;
                h4{
                    color: @azul-principal;
                    margin-bottom: 10px;
                }
                textarea{
                    width: 93%;
                    height: 70px;
                    border: 1px solid #7C9CBF;
                    border-radius: 5px;
                    padding: 10px;
                }
                .btn{
                    float: right;
                }
            }
        }

        .description {
            .row {
                display: grid;
                grid-template-columns: 2fr 1fr 1fr 1fr;
                width: 88%;
                margin: 20px auto;
                border-bottom: 1px solid #756F86;
                padding: 0px 20px 10px 20px;
                color: #394089;
                font-size: 14px;
                font-weight: 500;
                .category{
                    opacity: 0.5;
                }
                .trash{
                    text-align: right;
                    cursor: pointer;
                    color: @azul-principal;
                    transition: all ease 0.2s;
                    &:hover{
                        color: @rosa-principal;
                    }
                }
                .units {
                    color: @verde;
                    text-align: center;
                }
            }
        }
        .options{
            margin-top: 30px;
            h3{
                color: @azul-principal;
                font-size: 22px;
                margin-bottom: 20px;
            }
            label{
                display: block;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .full{
                width: 100%;
                margin-top: 20px;
            }
        }
    }

}