//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.faq {
    margin-top: 50px;
}

.col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }

.tabs {
  border-radius: 8px;
  overflow: hidden;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  }
.tab {
  width: 100%;
  color: @azul-title;
  overflow: hidden;
  border-bottom: 1px solid #39408940;

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 2em 1em;
    font-weight: bold;
    cursor: pointer;
    color: @azul-principal;

    &:hover {
      
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: @color-text;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
     cursor: pointer;
  }
}

input:checked {
  + .tab-label {
      &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}

.duvidas {
  text-align: center;
  a {
    border-bottom: 1px solid;
    &:hover {
      color: @rosa-principal;
    }
  }
}