.faq {
  margin-top: 50px;
}
.col {
  flex: 1;
}
.col:last-child {
  margin-left: 1em;
}
.tabs {
  border-radius: 8px;
  overflow: hidden;
}
.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab {
  width: 100%;
  color: #2C3281;
  overflow: hidden;
  border-bottom: 1px solid #39408940;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 2em 1em;
  font-weight: bold;
  cursor: pointer;
  color: #394089;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2C2738;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  cursor: pointer;
}
input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
.duvidas {
  text-align: center;
}
.duvidas a {
  border-bottom: 1px solid;
}
.duvidas a:hover {
  color: #F15D5B;
}
