.boxe-pedido-quatro {
  width: 170px;
  height: 100px;
  background: #fff;
  border-radius: 5px;
  color: #394089;
  padding: 10px;
  position: relative;
  left: 806px;
  margin-top: 20px;
}
.boxe-pedido-quatro::after {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  top: -9px;
  content: '';
  left: 50%;
  margin-left: -15px;
  position: absolute;
}
.boxe-pedido-quatro h4 {
  font-size: 16px;
  display: block;
  padding-top: 10px;
}
.boxe-pedido-quatro span {
  font-size: 14px;
  display: block;
  padding: 10px 0px;
}
