//Color
 
@fundo-azul-claro: #2c32811a;
@azul-title: #2C3281;
@color-text: #2C2738;
@azul-principal: #394089;
@fundo-branco: #fff;
@fundo-azul: #2C3281;
@rosa-principal: #F15D5B;
@amarelo-principal: #FAC610 ;
@laranja-principal: #E65E2E;
@verde: #14A38B;
@branco: #fff;
@color-label: #756F86;
@border-input: #DBE2EA;

// fim Color

.boxe-pedido-quatro {
    width: 170px;
    height: 100px;
    background: @branco;
    border-radius: 5px;
    color: @azul-principal;
    padding: 10px;
    position: relative;
    left: 806px;
    margin-top: 20px;

    &::after {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #fff;
        top: -9px;
        content: '';
        left: 50%;
        margin-left: -15px;
        position: absolute;
    }

    h4 {
        font-size: 16px;
        display: block;
        padding-top: 10px;
    }

    span { 
        font-size: 14px;
        display: block;
        padding: 10px 0px;
    }
}